<% title('My Account') %>

<h2>My Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'edit-account-field' %>
  </div>

  <div class="field">
    <%= f.label :bitcoin_address, 'Your Bitcoin Address' %><br />
    <%= f.text_field :bitcoin_address, class: 'edit-account-field' %>
  </div>
  <p>Note: Please triple-check your Bitcoin address (if supplying one). Bitcoin transactions are not reversible.</p>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary' %> or <%= link_to 'Change Your Password', change_password_users_path %>
  </div>
<% end %>
