<div class="well admin-heading-well">
  <%= link_to 'Admin Home', admin_index_path %> &nbsp;|&nbsp;
  <%= link_to 'Generate Monthly Transactions', transactions_credits_path %> &nbsp;|&nbsp;
  <%= link_to 'Transactions', transactions_admin_index_path %> &nbsp;|&nbsp;
  <%= link_to 'Payments CSV', payments_csv_admin_index_path %> &nbsp;|&nbsp;
  <%= link_to 'Microtip CSV', microtip_csv_admin_index_path %>
</div>