<% title('Change Your Password') %>

<h2>Change Your Password</h2>

<%= form_for(current_user, url: update_password_users_path) do |f| %>

  <% @object = current_user %>
  <%= render :partial => 'shared/errors' %>

  <div class="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Password", class: 'btn btn-primary' %>
  </div>

<% end %>