<% title('Home') %>

<%= render :partial => 'subphezes/recently_created' %>

<br/>

<% if user_signed_in? %>
  <div class="well subphez-heading-well">
    <ul class="list-inline">
      <li><h2>All</h2></li>
      <li>&nbsp;&nbsp;</li>
      <li><h2><%= link_to 'My Phez', my_path %></h2></li>
    </ul>
  </div>
<% end %>

<%= render :partial => 'shared/bitcoin' %>

<% @posts.each do |post| %>
  <% @post = post %>
  <%= render :partial => 'posts/heading' %>
<% end %>

<%= will_paginate @posts %>

<% content_for :sidebar do %>
  <%= render :partial => 'shared/sidebar' %>
<% end %>