<h2>Log In or <%= link_to 'Sign Up', new_registration_path(resource_name) %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
