<%= form_for(@post) do |f| %>
  <% @object = @post %>
  <%= render :partial => 'shared/errors' %>

  <%#= f.hidden_field :subphez_id %>

  <% if @post.new_record? %>

    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: 'title-field' %> <br/>
      <i>Leave URL field blank to submit a self post (discussion thread)</i>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'title-field' %>
    </div>
    <div style="padding-bottom: 7px;">
      <%= link_to 'Suggest Title', 'javascript:Phez.suggestTitle()', class: 'btn btn-primary btn-sm' %>
    </div>
  <% else %>
    <p>Only the body of self posts can be edited.</p>
  <% end %>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="field">
        <%= f.label :body %><br>
        <%= f.text_area :body, class: 'new-post-body-field' %> <br/>
        <% if @post.new_record? %>
          <i>Leave the body field blank unless you are submitting a self post.</i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Submit to Subphez</label><br>
    <%= text_field_tag 'subphez_path', @subphez ? @subphez.path : '', :required => true %> <br/>
    <% if current_user.subscribed_subphezes.any? %>
      <br/>
      <p>Select from your subscribed subphezes:</p>
      <div style="width: 40em">
        <% current_user.subscribed_subphezes.order('path ASC').each do |subphez| %>
          <%= link_to subphez.path, "javascript:Phez.pickSubphez('#{subphez.path}')" %> &nbsp;&nbsp;
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
