<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :subphez_id %>

  <% if @post.new_record? %>
    <p>You are submitting a post to: <%= link_to @subphez.title, view_subphez_path(:path => @subphez.path) %></p>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: 'title-field' %> <br/>
      <i>Leave URL field blank to submit a self post (discussion thread)</i>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'title-field' %>
    </div>
  <% else %>
    <p>Only the body of self posts can be edited.</p>
  <% end %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'body-field' %> <br/>
    <% if @post.new_record? %>
      <i>Leave the body field blank unless you are submitting a self post.</i>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
