<div class="row">
  <div class="voting_arrows" style="padding-top: 10px;">
      <br/>
      <span class="vote_count" id="vote-count-<%= @post.id %>"><%= @post.vote_total %></span><br/>
  </div>
  <div class="col-md-11">
    <h3 class="post-title">
      <%= link_to raw(@post.title), @post.post_path, class: 'post-link' %>
    </h3>
    <span class="domain">(<%= link_to @post.domain, @post.url_linkable %>)</span>
    <div style="clear: both"></div>
    <p class="submitted">submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= link_to @post.user.username, build_profile_path(@post.user) %> to <%= link_to "/p/#{@post.subphez.path}", build_subphez_path(@post.subphez) %> | <%= link_to "#{@post.comment_threads.size} comments", build_post_path(@post) %></p>
  </div>
</div>