<div class="row">
  <div class="voting_arrows">
    <% if user_signed_in? %>
        <%
        @upvoted, @downvoted = false, false
        if current_user
          @vote = Vote.voted(current_user, @post)
          if @vote
            @upvoted = @vote.upvote?
            @downvoted = @vote.downvote?
          end
        end
        %>
      <a href="javascript:Phez.upvote(<%= @post.id %>)"><i class="vote-arrow fa fa-arrow-up post-upvote-<%= @post.id %> <%= 'voted' if @upvoted %>"></i></a> <br/>
      <span class="vote_count" id="vote-count-<%= @post.id %>"><%= @post.vote_total %></span><br/>
      <a href="javascript:Phez.downvote(<%= @post.id %>)"><i class="vote-arrow fa fa-arrow-down post-downvote-<%= @post.id %> <%= 'voted' if @downvoted %>"></a></i>
    <% else %>
      <a href="/users/sign_up"><i class="vote-arrow fa fa-arrow-up"></i></a> <br/>
      <span class="vote_count" id="vote-count-<%= @post.id %>"><%= @post.vote_total %></span><br/>
      <a href="/users/sign_up"><i class="vote-arrow fa fa-arrow-down"></a></i>
    <% end %>
  </div>
  <div class="col-md-11">
    <h3 class="post-title">
      <%= link_to @post.title, @post.post_path, class: 'post-link' %>
    </h3>
    <span class="domain">(<%= link_to @post.domain, @post.url_linkable %>)</span>
    <div style="clear: both"></div>
    <p class="submitted">submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= link_to @post.user.username, build_profile_path(@post.user) %> to <%= link_to "/p/#{@post.subphez.path}", build_subphez_path(@post.subphez) %> | <%= link_to "#{@post.comment_count} comments", build_post_path(@post) %>
      <% if user_signed_in? && (@post.owner?(current_user) || @post.moderateable?(current_user)) %>
      | <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  </div>
</div>