<% title(@post.title) %>

<%= render :partial => 'heading' %>

<% if @post.is_self %>
  <div class="well"><%= raw(@post.body_rendered) %></div>
<% end %>

<br/>

<% @comments.each do |comment| %>
  <% @comment = comment %>
  <%= render :partial => 'comment' %> 
<% end %>

<br/>

<% @comment = Comment.new %>
<%= form_for @comment, url: comments_path do |f| %>
  <%= hidden_field_tag :post_id, @post.id %>
  <%= f.text_area :body, class: 'comment-body' %> <br/>
  <%= f.submit "Post Comment", class: 'btn btn-primary' %>
<% end %>

<div style="display: none;" id="comment-form">
  <% @comment = Comment.new %>
  <div class="inner-comment-form">
    <%= form_for @comment, url: comments_path do |f| %>
      <%= hidden_field_tag :post_id, @post.id %>
      <%= hidden_field_tag :parent_id, '' %>
      <%= f.text_area :body, class: 'comment-body' %> <br/>
      <%= f.submit "Post Comment", class: 'btn btn-primary' %>
    <% end %>
    <br/>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
