<div class="row">
  <div class="col-md-1 voting_arrows">
    <a href="javascript:Phez.upvote(<%= @post.id %>)"><i class="vote-arrow fa fa-arrow-up post-upvote-<%= @post.id %> <%= 'voted' if @upvoted %>"></i></a> <br/>
    <a href="javascript:Phez.downvote(<%= @post.id %>)"><i class="vote-arrow fa fa-arrow-down post-downvote-<%= @post.id %> <%= 'voted' if @downvoted %>"></a></i>
  </div>
  <div class="col-md-6">
    <h2>
      <% if @post.is_self %>
        <%= @post.title %>
      <% else %>
        <%= link_to @post.title, @post.url %>
      <% end %>
    </h2>
  </div>
</div>

<% if @post.is_self %>
  <div class="well"><%= raw(@post.body_rendered) %></div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
