<%= form_for(@subphez) do |f| %>
  <% @object = @subphez %>
  <%= render :partial => 'shared/errors' %>
  <% if @subphez.new_record? %>
    <div class="field">
      <%= f.label :path %><br>
      phez.co/p/<%= f.text_field :path %> <br/>
      <small><i>Cannot contain any spaces. Maximum 30 characters. No special characters (alphanumeric only).</i></small>
    </div>
  <% else %>
    <p>Subphez path's are not editable.</p>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'title-field' %>
  </div>
  <div class="field">
    <%= f.label :sidebar, "Sidebar Text" %><br>
    <%= f.text_area :sidebar, class: 'body-field' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
