<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3><%= link_to @subphez.title, build_subphez_path(@subphez) %></h3>

    <% if !@subphez.is_admin_only %>
      <%= link_to 'Submit a new link', new_subphez_post_path(:path => @subphez.path), class: 'btn btn-primary' %>
    <% end %>
    <br/>
    <% if user_signed_in? && current_user.can_moderate?(@subphez) %>
      <br/>
      <%= link_to 'Edit this Subphez', edit_subphez_path(@subphez), class: 'btn btn-primary' %>
      <br/><br/>
      <%= link_to 'Manage this Subphez', manage_subphez_path(:path => @subphez.path), class: 'btn btn-primary' %>
      <br/>
    <% end %>

    <br/>
    <div>
      <%= raw(@subphez.sidebar_rendered) %>
    </div>
    <br/>
    <div>
      <h4>Moderators</h4>
      <% @subphez.moderators.each do |mod| %>
        <%= link_to mod.username, build_profile_path(mod) %> <br/>
      <% end %>
    </div>
  </div>
</div>
