<% title("#{@subphez.title} :: hot") %>
<%= content_for :head, auto_discovery_link_tag(:atom, "#{@subphez.url}.atom") %>

<div class="well subphez-heading-well">
  <ul class="list-inline">
    <li><h2>Hot</h2></li>
    <li>&nbsp;&nbsp;</li>
    <li>
      <h2>
        <%= link_to 'New', subphez_latest_path(:path => @subphez.path) %>
      </h2>
    </li>
  </ul>
</div>

<% @posts.each do |post| %>
  <% @post = post %>
  <%= render partial: 'posts/heading' %>
<% end %>

<%= will_paginate @posts %>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>
